<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="header :: head"/>
<body>
<nav th:insert="header :: menu"/>

<table class="table" style="width: 600px">
    <tr>
        <td th:text="#{doctor.name}"></td>
        <td th:text="#{doctor.post}"></td>
        <td th:text="#{doctor.department}"></td>
        <td th:text="#{doctor.office}"></td>
        <td th:text="#{doctor.phone}"></td>
    </tr>
    <tr th:if="${doctors.empty}">
        <td th:text="#{doctor.zero}"></td>
    </tr>
    <tr th:each="doctor: ${doctors}">
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.post}"></td>
        <td th:text="${doctor.department.name}"></td>
        <td th:text="${doctor.office}"></td>
        <td th:text="${doctor.phoneNumber}"></td>
    </tr>
</table>

<form class="form-horizontal" th:action="@{/doctor/create}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name" th:text="#{doctor.name}"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="dep" th:text="#{doctor.department}"></label>
        <div class="col-sm-3">
            <select type="text" class="form-control" id="dep" name="departmentId">
                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"/>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="post" th:text="#{doctor.post}"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="post" name="post">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="office" th:text="#{doctor.office}"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="office" name="office">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="phone" th:text="#{doctor.phone}"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="phone" name="phoneNumber">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" th:text="#{doctor.submit}"></button>
        </div>
    </div>
</form>

<div th:insert="footer :: copy"></div>

</body>
</html>