<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head"/>
<body>
<nav th:insert="header :: menu"/>
<h3 th:text="#{login.header}"/>

<p th:if="${param.error}" style="color: red;" th:text="#{login.wrong}"></p>


<form class="form-horizontal" th:action="@{/login}" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="username" th:text="#{login.user.name}"></label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="username" th:placeholder="#{login.placeholder.name}" name="username">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" th:text="#{login.user.password}"></label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="pwd" th:placeholder="#{login.placeholder.password}" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" th:text="#{login.submit}"></button>
        </div>
    </div>
</form>

<div th:insert="footer :: copy"></div>
</body>
</html>